* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-item {
  padding-right: 30px;
  font-size: medium;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 600;
  color: rgb(43, 43, 112);
}

.nav-link:hover {
  color: rgb(168, 3, 3);
}

.navbar-brand {
  color: rgb(168, 3, 3);
  font-size: x-large;
  font-weight: 490;
}

.navbar-brand:hover {
  color: rgb(43, 43, 112);
}

.logo {
  height: 40px;
}

.Login {
  height: 45px;
  width: 150px;
  border: None;
  outline: 0mm;
  background-color: rgb(168, 3, 3);
  color: white;
  border-radius: 60px;
  font-weight: bold;
  font-size: large;
}

.Login:hover {
  background-color: rgb(199, 38, 38);
  border: none;
  transition: 0.3s;
}

.Heading {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(43, 43, 112);
}

.covid .Heading,
.results .Heading,
.setup .Heading {
  color: rgb(168, 3, 3);
}

.Cardheading {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(43, 43, 112);
}

.Setup {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(209, 4, 4);
}

.p-head {
  font-size: 1.3rem;
  font-weight: 500;
}

.errormessage {
  font-size: 1.1rem;
  color: rgb(209, 4, 4);
}

.main i,
.covid i {
  color: rgb(14, 77, 114);
  font-size: 15rem;
}

.setup i {
  color: rgb(14, 77, 114);
  font-size: 5rem;
}

.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background: red;
  color: white;
  font-weight: bold;
  border-radius: 60px;
  margin: auto;
}

.btn1:hover {
  background: tomato;
  transition: 0.5s;
}

.btn2 {
  height: 45px;
  width: 85%;
  border: 1px solid black;
  background: rgb(14, 77, 114);

  outline: none;
  color: white;

  font-weight: bold;
  border-radius: 60px;
  margin: auto;
}

.btn2:hover {
  color: rgb(14, 77, 114);
  border: 2px solid rgb(14, 77, 114);
  background: transparent;
  transition: 0.5s;
}

.span {
  font-size: larger;
  font-weight: 500;
  color: grey;
}

.pera {
  font-size: 1.1rem;
  color: rgb(75, 61, 61);
}
.course {
  background-color: rgb(225, 240, 246);
}

.setup .card {
  background: rgb(209, 236, 234);
  box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.53);
  margin: 10px;
}

.setup .card1 {
  background: rgb(193, 214, 233);
  /* background: rgb(189, 160, 160); */
  box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.63);
}

.setup .card:hover {
  box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.863);
  -webkit-box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.863);
  -moz-box-shadow: -1px 0px 19px -6px rgba(0, 0, 0, 0.863);
}

.footer {
  background: rgb(216, 229, 238);
}

hr {
  margin: 0.5rem;
}

.footer i {
  color: black;
  font-size: large;
}

.footer .pera {
  font-size: 15px;
}

/* stack overflowról: */
select,
.form-box {
  margin: 10px;

  padding: 5px 30px 5px 8px;
  font-size: 16px;
  border: 1px solid rgb(14, 77, 114);
  height: 40px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

.setup select,
.covid select {
  width: 45%;
}

.form-box {
  width: 80%;
}

select:hover,
.form-box:hover {
  border: 3px solid rgb(14, 77, 114);
}

.covid a {
  color: rgb(14, 77, 114);
  text-decoration: none;
  font-weight: 610;
}

.covid a:hover {
  color: rgb(168, 3, 3);
  font-weight: 630;
}
