{% extends "layout.html" %}

{% block title %}
Get COVID data
{% endblock %}

{% block main %}
<section class="covid py-3">
    <div class="container pt-3">
        <div class="row align-items-center">
            <div class="col-lg-6 py-4">
                <h1 class="Heading pt-4 mt-4">Check COVID data</h1>
                <!-- ez a régi class: display-3 muted text-center -->
                <p class="p-head">Choose the countries you want to know about:</p>
                
                <!-- form for players -->
                <form action="/covid" method="post">
                    <select class="m-2" name="country1">
                        <option disabled selected value="">Countries</option>
                        {% for country in countries %}
                        <!--- ide jön a userhez lekérdezett user portfolio -->
                        <option value="{{ country }}">{{ country }} </option>
                        {% endfor %}
                    </select>
                    <select class="m-2" name="country3">
                        <option disabled selected value="">Countries</option>
                        {% for country in countries %}
                        <!--- ide jön a userhez lekérdezett user portfolio -->
                        <option value="{{ country }}">{{ country }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn2 btn btn-primary my-3 center " type="submit">See COVID status</button>
                </form>
            </div>       
        

            <div class="col-lg-6 text-center">
                <!-- <i class="fas fa-globe-americas"></i></i>  -->
                <img src="../static/img/coronavirus_0.jpg" alt="" class="img-fluid mt-5">
               
        
             </div>
        </div>
    </div>
</div>
<!-- flask requires that img is in the static folder, like: 

<img src="../static/img/easter-3100341_640.jpg" alt="easter bunny 2." class="img-fluid">
<img src="./static/easter-bunny.png" alt="easter bunny 3." class="img-fluid">
<img src="../static/img/easter-bunny.png" alt="easter bunny 4." class="img-fluid">
<img src="./static/easter-bunny.png" alt="easter bunny 5." class="img-fluid"> -->

          


</section>
{% endblock %}